/* .span2  {
    grid-column: span 2;
} */

.palette-group {
    grid-template-columns: 9rem 1fr max-content 1.5rem max-content 1.5rem;
}

#setup > .row > .row-content {
    grid-template-columns: 1fr;
}

input[type="color" i] {
    padding: 0;
    background: transparent;
    border: 0;
    height: 1.4rem;
    width: 1.5rem;
    border-radius: 50%;
    /* border: 1px solid var(--darkgray); */
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="color" i]::-webkit-color-swatch {
    padding: 0;
    margin: 0;
    border-radius: 15px;
    border: 0;
    border: 1px solid var(--darkgray);
    display: inline-block;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color" i]::-moz-color-swatch {
    padding: 0;
    margin: 0;
    border-radius: 15px;
    border: 0;
    border: 1px solid var(--darkgray);
}

.setting {
    grid-template-columns: 9rem 1fr;
}

.double-input {
    grid-template-columns: 9rem 1fr 9rem 1fr;
}

.double-radio-buttons {
	/* display: grid; */
	/* margin: 1rem 40px 1rem; */
	/* gap: 1rem 40px; */
	grid-template-columns: 9rem max-content 9rem max-content 9rem;
}

.checkbox-label {
    grid-template-columns: max-content 1fr;
}

.triple-input {
    grid-template-columns: 9rem 1fr 9rem max-content 9rem max-content;
}

.triple-input-2 {
    grid-template-columns: max-content 9rem 9rem 1fr 9rem 1fr;
}


/* .pos-options {
    grid-template-columns: 7rem 1fr;
} */