.span2  {
    grid-column: span 2;
}

.row {
    grid-column: span 2;
}

/* .row-controls {
    grid-template-columns: repeat(5, 1rem);
} */

#partsOfSpeechDefs .row-content {
    grid-template-columns: 6rem 1fr 6rem 1fr 6rem 1fr;
}

#ipaSetup .row-content {
    grid-template-columns: 6rem 1fr 6rem 1rem;
}

#ipaSetup .row-content input:last-child {
    grid-column: span 3;
}

#ipaSetup .row-content input:last-child {
    /* grid-column: span 3; */
}

input[type="color" i] {
    height: auto;
    padding: 0;
    background: transparent;
}

.setting {
    grid-template-columns: 9rem 1fr;
}

