@font-face {
    font-family:'dejavu_sans';
    src:url('fonts/dejavusans-webfont.eot');
    src:url('fonts/dejavusans-webfont.eot?#iefix') format('embedded-opentype'),
     local('DejaVuSans'),
         url('fonts/dejavusans-webfont.woff2') format('woff2'),
         url('fonts/dejavusans-webfont.woff') format('woff'),
         url('fonts/dejavusans-webfont.ttf') format('truetype'),
         url('fonts/dejavusans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight:400;
    font-style:normal;}

@font-face {
    font-family:'dejavu_sans';
    src:url('fonts/dejavusans-bold-webfont.eot');
    src:url('fonts/dejavusans-bold-webfont.eot?#iefix') format('embedded-opentype'),
     local('DejaVuSans-Bold'),
         url('fonts/dejavusans-bold-webfont.woff2') format('woff2'),
         url('fonts/dejavusans-bold-webfont.woff') format('woff'),
         url('fonts/dejavusans-bold-webfont.ttf') format('truetype'),
         url('fonts/dejavusans-bold-webfont.svg#dejavu_sansbold') format('svg');
    font-weight:700;
    font-style:normal;}

@font-face {
    font-family:'dejavu_sans';
    src:url('fonts/dejavusans-oblique-webfont.eot');
    src:url('fonts/dejavusans-oblique-webfont.eot?#iefix') format('embedded-opentype'),
     local('DejaVuSans-Oblique'),
         url('fonts/dejavusans-oblique-webfont.woff2') format('woff2'),
         url('fonts/dejavusans-oblique-webfont.woff') format('woff'),
         url('fonts/dejavusans-oblique-webfont.ttf') format('truetype'),
         url('fonts/dejavusans-oblique-webfont.svg#dejavu_sansoblique') format('svg');
    font-weight:400;
    font-style:italic;}

@font-face {
  font-family:"Kingwf";
  src:url('fonts/kin668.eot');
  src:url('fonts/kin668.eot?#iefix') format('embedded-opentype'),
     url('fonts/kin668.woff') format('woff'), 
     url('fonts/kin668.ttf') format('truetype'), 
     url('fonts/kin668.svg#kin668') format('svg');}


/* Text styles */

body, td, th, .tooltip:hover:after {
  font-family:"dejavu_sans", "Lucida Grande", sans-serif;
  font-size:11px;
  line-height:1.4;
  -webkit-text-size-adjust: 100%;}

a {
  color:#0039ff;
  text-decoration:none;
  -webkit-transition:.2s;
  -moz-transition:.2s;
  -o-transition:.2s;
  transition:.2s;}
a:hover, a:active, a:visited {color:#4d88ff;}

h1, h2, h3, h4 {
  font-family:"Kingwf";
  font-weight:400;
  margin:0;}
h1 {font-size:22px;}
h1 a {color:#16a1e7 !important;}
h2 {
  font-size:18px;
  text-align:center;}
.box h2 {
  display:table-cell;
  vertical-align:middle;}
h3 {font-size:16px;}
h4 {
  font-size:14px;
  margin-bottom:1.12em;}
h5 {
  font-size:11px;
  margin:1rem 0 0;}
h5, .hw, .hl {
  font-weight:700;
  font-style:normal;}

em {font-style:italic;}
  
.gray {color:#7f7f7f;}
sup, sub {
  vertical-align:0;
  position:relative;
  font-size:8px;}
sup {bottom:1ex;}
sub {top:.8ex;}
.sc {
  font-size:9.5px;
  text-transform:uppercase;}
.sc:after {
  content:"\00200B";
  visibility:hidden;
  font-size:11px;}
.vxert span {position:absolute;}
.vxert span span  {
  display:inline-block;
  position:relative;
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -o-transform-origin:top left;
  right:50%;
  bottom:8px;}
.white-space {white-space:pre-wrap;}
.stress {text-decoration:underline;}

.norm, .for th {
  color:#000;
  font-weight:400;}
.for, .th-for th, div.txt, .hw {color:#ff8000;}


/* Basic layout */

body {
  margin:0;
  padding:40px 60px 20px;}

@media all and (max-width:799px) {
body {padding: 20px;} 
blockquote {margin-left:10px;} }

header, footer {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  padding:0 15px;
  gap:.5em 15px;
  flex-direction:row-reverse;}

footer {flex-wrap: wrap-reverse;}
footer span:first-child {margin-left:auto;}
footer span:last-child, header h1:last-child {margin-right:auto;}

@media all and (max-width:533px) {
header h1 {
text-align:center;
margin:auto;}
}

main {margin:20px 0;}
main > div {
  border-style:solid solid none;
  border-width:5px;
  padding:10px;}
main > div:last-child {border-bottom-style:solid;}


/* Grid layouts */

.index-grid, .conlang-grid, .photo-grid {
  display:grid;
  border:5px solid;}

.index-grid {
  grid-template-columns:10em auto;
  gap:10px 10px;}
.index-grid div {padding:0;}

.conlang-grid, .photo-grid {
  gap:22px;
  justify-content:space-between;}

.conlang-grid {
  border:none !important;
  padding:0 !important;
  grid-template-columns:repeat(auto-fill, 236px);}

@media all and (max-width:533px) {
.conlang-grid {margin-left:calc((100% - 236px) / 2);}
.conlang-grid > .box-title {height:max-content;} }

.box {
  margin:0;
  height:206px;
  padding:10px;
  border-style:solid;
  border-width:5px;}
.box-title {
  display:table;
  text-align:center;}
.box *:last-child {margin-bottom:0;}

.photo-grid {
  grid-template-columns:repeat(auto-fill, 302px);
  grid-auto-flow:dense;}
.photo-grid div {
  text-align:center;}
.photo-grid img {
  display:block;
  margin:auto;
  border:1px solid #000;}
.panoramic-2 {grid-column:span 2;}
.panoramic-3 {grid-column:span 3;}

@media all and (max-width:695px) {
.photo-grid {margin-left:calc((100% - 332px) / 2);} }


/* 
@media all and (max-width:1099px) {
.panoramic-3 {grid-column:span 2;} 
.panoramic-3 img {max-width:944px;} }

@media all and (max-width:695px) {
.panoramic-3 {grid-column:span 2;} 
.panoramic-3 img {max-width:622px;} }
 */

@media all and (max-width:1099px) {
.panoramic-3 {grid-column:span 2;} 
.panoramic-3 img {max-width:622px;} }

@media all and (max-width:695px) {
.panoramic-2, .panoramic-3 {grid-column:span 1;}
.panoramic-2 img, .panoramic-3 img {width:300px;} }


/* Columns */

.terms, .dic {
  column-gap:40px;}
.dic {columns:266px 2;}
.terms {
  columns:226px 2;
  padding:0 40px;
  list-style-type:none;}
.terms li, .dic p {
  break-inside:avoid;
  column-span:all;}
.dic p:last-child {padding-bottom:0;}
li:nth-last-child(n + 11), li:nth-last-child(n + 11) ~ li, .dic p:nth-last-child(n + 5), .dic p:nth-last-child(n + 5) ~ p {
  column-span: none;}
.dic h3 {column-span:all;}
.terms li>span:first-child {float:left;}
.terms li>span:last-child {
  display:block;
  margin-left:4rem;}
.dic h3 + p {margin-top:0;}
.dic h3 {margin-bottom:1em;}

.double {
  display:grid;
  margin:-1rem 40px 1rem;
  column-gap:40px;
  grid-template-columns:1fr 1fr;}

@media all and (max-width: 909px) {
.double div:nth-of-type(odd) {order: -1;}
.double {grid-template-columns:1fr;} }


/* Grammar pages */

.grammar {
  display:flex;
  position:relative;}
.grammar > .toc, .grammar > .contents {
  height:90vh;
  overflow:scroll;
  padding:0;}
.grammar .toc {
  border-style:solid none solid solid;
  width:13rem;}
.contents {flex:1;}
.grammar > div > div {padding:10px;}

@media all and (max-width:649px) {
.grammar {flex-direction:column;}
.grammar > .toc, .grammar > .contents {
  height:auto;
  overflow:auto;border-style:}
.grammar > .toc {
width:auto;
flex:1;
border-style:solid solid none;}
div.toc > div {
  columns:10rem 2;
  column-gap:40px;} }


/* Lists and Blockquotes*/

ul {list-style-type: '– ';}
.index-grid ul, .box ul {
  list-style-type:none;
  padding:0;}
.index-grid ul {margin:0;}
.box li {padding-top:4px;}
.box li:first-child {padding-top:0;}
.box blockquote {
  margin-left:6px;
  margin-right:0;}
.ul-left {float: left;}
.ul-right {
  float: right;
  text-align: right;}


/* Text glossing */

div.line, div.phrase, div.txt {float:left;}
div.line {
  clear:both;
  margin-top:1em;}
.double + div.line {margin-top:0;}
div.phrase + div.phrase {margin-left:40px;}
div.txt {margin-right:1em;}
div.txt>span {display:block;}
div.txt>span:last-child {color:#000;}
.txt + p {
  margin:0;
  clear:both;}


/* Tables */

table {
  border-spacing:0;
  border-collapse:collapse;}
table.third {width:33%;}
table.half {width:50%;}
table.tt {width:66%;}
table.full {width:100%;}

.np, table.np td {padding:0;}

td, th {
  border:1px solid;
  padding: 1px 5px;}
.nb td, .nb {border:none;}
td.nb, th.nb {background-color:#fff !important;}
th {
  font-weight:400;
  text-align:left;}
.top td {vertical-align:top;}
.mid {vertical-align:middle;}
.ctr td, .ctr th, .th-ctr th, .ctr {text-align:center;}
.ctr td.left {text-align:left;}

table.for {white-space:nowrap;}


/* Border and background colors */

body.white div, .box-title {border-color:#fff;}
body.blue div, .border-blue {border-color:#7CA8E6;}
body.turquoise div, .border-turquoise {border-color:#33D4D1;}
body.yellow div, .border-yellow {border-color:#FFE66D;}
.border-gray {border-color:#d9d9d9;}

.toc, .chap, th {background-color:#F2F2F2;}
.bg-gray {background-color:#e1e1e1;}
table * {border-color:#aaa;}


/* Grammar sections */

div.chap, div.sec, div.sub, div.pl {
  border-bottom-style:solid;
  border-bottom-width:1px;
  margin:0;}
div.chap h2:before {content:counter(h2) " ";}
div.chap {
  counter-increment:h2;
  counter-reset:h3;}
div.sec h3:before {content:counter(h2) "." counter(h3) " ";}
div.sec {
  counter-increment:h3;
  counter-reset:h4;}
h4:before {content:counter(h2) "." counter(h3) "." counter(h4) " ";}
div.sub {counter-increment:h4;}

p:last-child,ul:last-child {margin-bottom:0;}


/* Table of Contents */

.toc ol {
  margin:0;
  padding:0;
  counter-reset:item;}
.toc ol li {
  display:block;
  margin:0;}
.toc ol li:before {
  content:counters(item,  ".") " ";
  counter-increment:item;}
.toc > div > ol > li + li {margin-top:1.12em;}
.toc ol, .dic p {
  text-indent:-1.2em;
  margin-left:1.2em;}
ol ol {list-style-type:lower-alpha;}


/* Tooltip */

.tooltip {position:relative;}
.tooltip:hover:after {
  background:rgba(255,255,255,.97);
  border:2px solid #FFE66D;
  border-radius:15px;
  bottom:26px;
  color:#000;
  font-size:12px;
  content:attr(tooltip);
  left:40px;
  padding:5px;
  position:absolute;
  z-index:98;}
.tooltip:hover:before {
  border:solid;
  border-color:#FFE66D transparent;
  border-width:9px 9px 0 3px;
  bottom:17px;
  content:"";
  left:65px;
  position:absolute;
  z-index:99;}
h3.tooltip:hover:after {white-space:nowrap;}
blockquote .tooltip:hover:after {width:200px;}


/* Clearfix */

main>div:not(.index-grid, .conlang-grid, .photo-grid):after, blockquote:after {
  content: "";
  display: table;
  clear: both;}
  